- hosts: localhost

  tasks:
    - include_vars: common_vars.yml

    - name: build xmpp binary
      shell: "sbcl --eval \"(ql:quickload 'mentat)\" --eval \"(mentat::save-image)\""

    - name: instantiate supervisor conf template
      template: src=../conf/xmpp-supervisor.conf dest=./supervisor.conf

- hosts: botservers

  tasks:
    - include_vars: common_vars.yml

    - name: install mongo on remote server
      apt: name=mongodb state=present
      sudo: yes

    - name: install supervisor on remote server
      apt: name=supervisor state=present
      sudo: yes

    - name: check if supervisor daemon is running
      service: name=supervisor state=started
      sudo: yes

    - name: copy supervisor conf for xmpp bot
      copy: src=./supervisor.conf dest=/etc/supervisor/conf.d/{{ xmpp_supervisor_conf }}
      sudo: yes

    - name: stat old xmpp remote binary
      stat: path=/home/{{ username }}/{{ xmpp_binary_name }}
      register: xmpp_binary_stat

    - name: remove old xmpp remote binary
      command: rm /home/{{ username }}/{{ xmpp_binary_name }}
      when: xmpp_binary_stat.stat.exists

    - name: copy compiled xmpp binary to remote server
      copy: src=./{{ xmpp_binary_name }} dest=/home/{{ username }}

    - name: copy bot config to remote server
      copy: src=../src/config.lisp dest=/home/{{ username }}

    - name: set xmpp binary attrs
      file: path=/home/{{ username }}/{{ xmpp_binary_name }} mode=u+rwx

    - name: check if mongodb is up and running on remote server
      service: name=mongodb state=started
      sudo: yes

    - name: restart mentat-xmpp service on remote server
      supervisorctl: name=mentat-xmpp state=restarted
      sudo: yes

- hosts: localhost

  tasks:

    - name: cleanup supervisor conf file
      file: path=./supervisor.conf state=absent
