- hosts: localhost

  tasks:
    - include_vars: common_vars.yml

    - name: build xmpp binary
      shell: "sbcl --eval \"(ql:quickload 'mentat)\" --eval \"(mentat::save-image-xmpp-bot)\""

    - name: build webserver binary
      shell: "sbcl --eval \"(ql:quickload 'mentat-webserver)\" --eval \"(mentat-webserver::save-image-webserver)\""

    - name: instantiate supervisor conf template
      template: src=../conf/supervisor.conf dest=./supervisor.conf

- hosts: botservers

  tasks:
    - include_vars: common_vars.yml

    - name: install packages on remote server
      apt: name={{ item }} state=present
      with_items:
        - mongodb
        - supervisor
        - logrotate
      sudo: yes

    - name: check if supervisor daemon is running
      service: name=supervisor state=started
      sudo: yes

    - name: copy supervisor conf for xmpp bot
      copy: src=./supervisor.conf dest=/etc/supervisor/conf.d/{{ supervisor_conf }}
      sudo: yes

    - name: copy mentat config to remote server
      copy: src=../src/config.lisp dest=/home/{{ username }}

    - name: check if mongodb is up and running on remote server
      service: name=mongodb state=started
      sudo: yes

    - name: remove old xmpp remote binary
      file:
        path=/home/{{ username }}/{{ xmpp_binary_name }}
        state=absent

    - name: copy compiled xmpp binary to remote server
      copy: src=../deploy/{{ xmpp_binary_name }} dest=/home/{{ username }}

    - name: copy xmpp logrotate config to remote server
      copy:
        src=../conf/mentat-xmpp-bot.logrotate
        dest=/etc/logrotate.d/mentat-xmpp-bot
        mode=0644
      sudo: yes

    - name: set xmpp binary attrs
      file: path=/home/{{ username }}/{{ xmpp_binary_name }} mode=u+rwx

    - name: restart mentat-xmpp service on remote server
      supervisorctl: name=mentat-xmpp state=restarted
      sudo: yes

    - name: copy compiled webserver binary to remote server
      copy: src=../deploy/{{ webserver_binary_name }} dest=/home/{{ username }}

    - name: set webserver binary attrs
      file: path=/home/{{ username }}/{{ webserver_binary_name }} mode=u+rwx

    - name: restart mentat-webserver service on remote server
      supervisorctl: name=mentat-webserver state=restarted
      sudo: yes

- hosts: localhost

  tasks:

    - name: cleanup supervisor conf file
      file: path=./supervisor.conf state=absent
